<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cashetor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Cashetor.Properties.Settings>
      <setting name="loggedin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mainname" serializeAs="String">
        <value />
      </setting>
      <setting name="maincompanyid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="maincompanyname" serializeAs="String">
        <value />
      </setting>
      <setting name="mainid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="maintype" serializeAs="String">
        <value />
      </setting>
      <setting name="accaccess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acctype" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="clrheader" serializeAs="String">
        <value />
      </setting>
      <setting name="clrmainbtn" serializeAs="String">
        <value />
      </setting>
      <setting name="clrsecondarybtn" serializeAs="String">
        <value />
      </setting>
      <setting name="maincompanybid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="maincompanyaddr" serializeAs="String">
        <value />
      </setting>
    </Cashetor.Properties.Settings>
  </userSettings>
</configuration>